nav {
    margin-bottom: 2em;
}

h3  {
    margin-bottom: 2em;
}

div {
    margin-bottom: 1em;
    margin-top: 1em;
}



button a{
    color: rgb(248, 244, 244);
}

nav a.navbar-brand{
    border: 1px solid black;
    border-radius: 50%;
    padding: 1em;

}

ul li a {
    font-size: large;
}