@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');

body, html {
  height: 100%; /* this is a must for parallax. */
  font-size: 100%;
}

.parallax {
  position: relative;
  opacity: 0.8;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#bgimg-1  {
  background-image: url("../img/pimea.jpg");
  height: 100%;
   
}

#bgimg-2 {
  background-image: url("../img/kaato.jpg");
  height: 100%;
}

#bgimg-3 {
  background-image: url("../img/kylma.jpg");
  height: 100%;
}

#bgimg-4 {
    background-image: url("../img/isotuoppi.jpg");
    height: 100%;
}

#bgimg-5 {
    background-image: url("../img/taivas.jpg");
    height: 100%;    
}

#bgimg-6 {
  background-image: url("../img/pullot.jpg");
  height: 100%;    
}

.caption {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100%;
  text-align: center;  
}

.caption span.border {
  background-color: #943939;
  color: #dfcdb6;
  padding: 18px;
  font-size: 1.5em;
  letter-spacing: 10px;
  line-height: 2em;
  font-family: 'Annie Use Your Telescope', cursive;
  
}

.text {
    padding: 80px 10px 80px 10px;
    position: relative;
    text-align: center;
    background-color: #dfcdb6;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 150%;
    letter-spacing: 2px;
}

.text h3 {
    text-align: center;
    font-size: 170%;
}

/* Turn off parallax scrolling for all tablets and phones. 
Increase/decrease the pixels if needed 
Macbook Pro 2012 13" on 1280px. */
@media screen and (max-width: 1279px) { 
    .parallax {
        background-attachment: scroll;
    }
    
    .text {
        padding: 30px 10px 30px 10px;
        position: relative;
    }     
}