/* #FFFFFF
#FED6AA
#FCA745
#D87503
#42280C 

Logo
tausta: #943939
piirto: #FFE0A3
*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');


/* Sivuston yleiset muotoilut */

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color:#dfcdb6 ;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color:#943939 ;
    padding: 5px 10px 5px 10px;
    max-width: 100%;
    text-align: center;
}

.row {
  margin-right: -45px;
  margin-left: -15px;
}

.tasaus {
  margin-right: -15px;
  margin-left: -15px;
}

/* Footer muotoilut */

#footer {
  background-color:#943939;
  width: auto;
  margin-top: 5em;
  margin-right: -30px;
  margin-left: -30px;
}

footer div p{
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
  color: #FFE0A3;
}

/* */

/* Navigaatioiden muotoilua */

@media all {
    .dropdown-item {color: #FFE0A3;}
    .nav-link {background-color: #943939;}
    .navbar-oma {background-color: #943939;}
    .navbar .nav-item .dropdown-menu{ display: none;}
    .navbar .nav-item .nav-link {color: #FFE0A3; border: #FFE0A3; border-style: solid;}
    .navbar .nav-item:hover .nav-link{ color:  #fff;  }
    .navbar .nav-item:hover .dropdown-menu{ display: block;}
    .navbar .nav-item .dropdown-menu{ margin-top:0; background-color: #943939;}
}

@media only screen and (max-width: 1155px) {
  #lkm, #login, #user {
      display: none;
  }
}

@media only screen and (max-width: 760px) {
  .navblock {
    display: inline-block;
  }
}

nav {
  position:absolute;
  align-content: center;
  margin:auto;
}

nav ul li{
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 1.8em;
  width: auto;
  margin:auto;
}

.navbar-oma {
  max-width: 100%;
}

#etsinavi {
  margin-left: auto;
  margin-right: auto;
}

.nav-item:hover {
  color: #fff;
}

.logout:hover {
  color: #fff;
}

#input {
  float: left;
  max-width: 180px;
}

#manager {
  background-color: #FFE0A3;
  color: #943939;
}

.tuote {
  font-size: 1.5em;
}

.tuote:hover {
  background-color: #943939;
  color: #fff;
}

/* */

/* Otsikoiden muotoilua */

h1 {
    color: #42280C;
    padding-bottom: 20px;
    text-align: left;
}

h2 {
    padding-bottom: 30px;
}

h3 {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
}

.keskitys {
  text-align: center;
  font-size: 2em;
}

.asiakas {
  height: 500px;
}

.kori1 {
  margin-top: 2em;
}

p.kori2 {
  background-color:#dfcdb6 ;
  font-style: italic;
}

.tilaus1{
  margin-top: 2em;
}



/* */

/* Linkkien muotoilua */

.no-effect {
  color: #943939;
}

.no-effect:hover {
  text-decoration: none;
  color: #943939;
}

/* */

/* Font awesome kuvakkeiden muotoilua */
.fa-trash {
  color: #943939;
}

.fa-beer, .fa-sign-in-alt, .fa-search, .fa-shopping-cart {
  color: #FFE0A3;
}

#kori:hover i {
  color: #fff;
}

/* */

/* Kuvien muotoilua */

figure {
  padding: 0%;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

img {
  padding-bottom: 0%;
}

/*  */
 
/* Tuotekorttien muotoilut */  
.card {
  margin-top: 1em;
  padding: 10px;
  background-color: #dfcdb6;
  border-radius: 30px 30px 30px 30px;
  border-color: #943939;
  font-family: 'Annie Use Your Telescope', cursive;
  color: #943939;
  }

  .card button {
    font-size: 1.3em;
  }

  .card div input {
  font-size: 1.3em;
  }

.card a img {
  width:250px;
  height:300px;
}

.card img {
  width:375px;
  height:550px;
  margin-left: auto;
  margin-right: auto;
}

.card a {
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  color:  #943939;
  text-align: left;
  font-size: 1.5em;
}

.card h3 {
  font-size: 2.5em;
}

.card p {
  font-size: 1.5em;
}

.kortti {
  border: none;
}

/* */

/* Nappien muotoilua */

.loginbtn {
  margin-top: auto;
  margin-bottom: auto;
}

.registerbtn {
  margin-top: auto;
  margin-bottom: auto;
}

.btn {
  background-color: #943939;
  border-color: #dfcdb6;
}

.btn:hover {
  background-color: #943939;
  border-color: #dfcdb6;
}

.card button, .card button:hover {
  background-color: #943939;
  border-color: #dfcdb6;
}

.osta {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: bottom;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}



/* */

/* Form, input ja label muotoilut */

input {
  background-color: #943939;
  border: none;
  color: #FFE0A3;
  padding: 0px;
}

label {
  font-size: 1.3em;
}

.form-control {
  background-color: #FED6AA;
}

/* */

/* Taulukon muotoilua */
td {
  width: 0.1%;
  white-space: nowrap;
}